%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css", :media => "screen, projection"}
  %body

    .container
      .span-24
        %p.large Jack Danger Canty
      .span-8
      .span-16
      .span-8.last
      .span-24
